<%- include('navbar'); -%>
<%- include('header'); -%>
<div class="box" id="heading">
<h2>This is just a test about page for testing the layouts with ejs.</h2>
</div>
<div class="box2" id="heading2">
<p>This is sample paragraph. You can add any necessary information if you want.</p>
</div>
<%- include('footer'); -%>