<%- include('navbar'); -%>
<%- include('header'); -%>
<div class="box" id="heading">
<h2>This is TO DO list project is built with ejs.</h2>
</div>
<div class="box2" id="heading2">
<p>As you can see in navbar, there 2 types of the TO DO list in this app:</p>
<ol>
    <li>regular TO DO list</li>
    <br/>
    <li>TO DO list related to University</li>
    <br/>
    <br/>
</ol>
</div>
<%- include('footer'); -%>